.contact {
    color: #4E6FAE;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;

}

.main-page {
    margin-right: 87px;
    color: #8D81FF;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    width: 101px;

}